html, body {
    width: 50%;
    margin: auto;
}

h1 {
    margin-top: 5vh;
}

hr {
    margin-right: 280px;
    margin-bottom: 20px;
}

.container {
    width: 360px;
}

.to-dos {
    margin-top: 25px;
}

.paragraph-styling {
    font-size: 30px;
    font-family: 'Shadows Into Light', cursive;
}

#inputField {
    width: 300px;
    height: 46px;
    border: 1px solid black;
    font-size: 25px;
    vertical-align: middle;
}

#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 20px;
}